{% extends 'base.html' %} {% block content%}
<div class="container">
  {% load static %}
  <div class="card">
    <h2>Card heatmap</h2>
    <div class="imgBx"><img src="{% static "heatmap.png" %}" /></div>
    <div class="content">
      <p>
        Heatmap Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Card monthwise</h2>
    <div class="imgBx"><img src="{% static "monthwise.png" %}" /></div>
    <div class="content">
      <p>
        monthwise Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Card yearwise1</h2>
    <div class="imgBx"><img src="{% static "yearwise1.png" %}" /></div>
    <div class="content">
      <p>
        yearwise1 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Card yearwise2</h2>
    <div class="imgBx"><img src="{% static "yearwise2.png" %}" /></div>
    <div class="content">
      <p>
        yearwise2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
</div>
{% endblock%}
