{% extends 'base.html' %} {% block content%}
<div class="container">
  {% load static %}
  <div class="card">
    <h2>Card heatmap</h2>
    <div class="imgBx"><img src="{% static "images_ieee/heatmap.png" %}" /></div>
    <div class="content">
      <p>
        Heatmap Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Card monthwise</h2>
    <div class="imgBx"><img src="{% static "images_ieee/monthwise.png" %}" /></div>
    <div class="content">
      <p>
        monthwise Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Card yearwise2</h2>
    <div class="imgBx"><img src="{% static "images_ieee/yearwise2.png" %}" /></div>
    <div class="content">
      <p>
        yearwise2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Card piechart</h2>
    <div class="imgBx"><img src="{% static "images_ieee/piechart.png" %}" /></div>
    <div class="content">
      <p>
        piechart Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Card noofpages</h2>
    <div class="imgBx"><img src="{% static "images_ieee/noofpages.png" %}" /></div>
    <div class="content">
      <p>
        noofpages Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
    <div class="card">
      <h2>Card noofpublications</h2>
      <div class="imgBx"><img src="{% static "images_ieee/noofpublications.png" %}" /></div>
      <div class="content">
        <p>
          noofpublications Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Sint quibusdam quia modi! Aperiam saepe omnis facilis at dolores!
          Repellat tenetur saepe quia, iste numquam reprehenderit. Natus
          pariatur assumenda quisquam repellendus?
        </p>
      </div>
    </div>
    <div class="card">
      <h2>Card keywordcounts</h2>
      <div class="imgBx"><img src="{% static "images_ieee/keywordcounts.png" %}" /></div>
      <div class="content">
        <p>
          keywordcounts Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Sint quibusdam quia modi! Aperiam saepe omnis facilis at dolores!
          Repellat tenetur saepe quia, iste numquam reprehenderit. Natus
          pariatur assumenda quisquam repellendus?
        </p>
      </div>
    </div>
    {% endblock%}
  </div>
</div>
