{% extends 'base.html' %} {% block content%}
<div class="container">
  {% load static %}
  <div class="card">
    <h2>Heatmap before data cleansing</h2>
    <div class="imgBx"><img src="{% static "images_acm/heatmap(prev).png" %}" /></div>
    <div class="content">
      <p>
        Heatmap Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Heatmap after data cleansing</h2>
    <div class="imgBx"><img src="{% static "images_acm/heatmap(af).png" %}" /></div>
    <div class="content">
      <p>
        Heatmap Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Keywords</h2>
    <div class="imgBx"><img src="{% static "images_acm/keywords.png" %}" /></div>
    <div class="content">
      <p>
        keywords Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Yearwise</h2>
    <div class="imgBx"><img src="{% static "images_acm/year.png" %}" /></div>
    <div class="content">
      <p>
        yearwise Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Piechart</h2>
    <div class="imgBx"><img src="{% static "images_acm/piechart.png" %}" /></div>
    <div class="content">
      <p>
        piechart Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Number of pages</h2>
    <div class="imgBx"><img src="{% static "images_acm/numpages.png" %}" /></div>
    <div class="content">
      <p>
        noofpages Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
        quibusdam quia modi! Aperiam saepe omnis facilis at dolores! Repellat
        tenetur saepe quia, iste numquam reprehenderit. Natus pariatur assumenda
        quisquam repellendus?
      </p>
    </div>
  </div>
    <div class="card">
      <h2>Number of publications</h2>
      <div class="imgBx"><img src="{% static "images_acm/num_pub.png" %}" /></div>
      <div class="content">
        <p>
          num_pub Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Sint quibusdam quia modi! Aperiam saepe omnis facilis at dolores!
          Repellat tenetur saepe quia, iste numquam reprehenderit. Natus
          pariatur assumenda quisquam repellendus?
        </p>
      </div>
    </div>
    <div class="card">
      <h2>Keyword counts</h2>
      <div class="imgBx"><img src="{% static "images_acm/keywords.png" %}" /></div>
      <div class="content">
        <p>
          keywordcounts Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Sint quibusdam quia modi! Aperiam saepe omnis facilis at dolores!
          Repellat tenetur saepe quia, iste numquam reprehenderit. Natus
          pariatur assumenda quisquam repellendus?
        </p>
      </div>
    </div>
    {% endblock%}
  </div>
</div>
